[Unit]
Description=Scandalous Web
After=network.target

[Service]
WorkingDirectory=/home/someuser/workspace/scandalous
ExecStart=bundle exec puma -C config/puma.rb
Restart=always
User=someuser

[Install]
WantedBy=multi-user.target
