[Unit]
Description=Scandalous Web
After=network.target

[Service]
WorkingDirectory=/home/pi/workspace/scandalous
ExecStart=puma -C config/puma.rb
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
