[Unit]
Description=Scandalous Mail
After=network.target

[Service]
WorkingDirectory=/home/someuser/workspace/scandalous
ExecStart=/usr/bin/ruby mta.rb
Restart=always
User=someuser

[Install]
WantedBy=multi-user.target
