[Unit]
Description=Scandalous Mail
After=network.target

[Service]
WorkingDirectory=/home/pi/workspace/scandalous
ExecStart=/usr/bin/ruby mta.rb
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
