body {
	font-family: sans-serif;
	padding: 20px;
	max-width: 600px;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	padding: 6px;
	display: flex;
    justify-content: left;
    align-items: baseline;
}
li span {
	padding: 0 20px;
}

a {
	text-decoration: none;
	color: #0066cc;
}

a:hover {
	text-decoration: underline;
}

li button.delete {
	background: none;
	border: none;
	color: inherit;
	font-size: 0.9rem;
	line-height: 1;
	padding: 0 20px 0 0;
	cursor: pointer;
}
